<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style='margin:0; padding:0;'>
    <h1><%= title %></h1>
    <table border="1">
      <tr>
        <th width="640px">Before:</th><th width="10px"></th><th width="640px">After:</th>
      </tr>
      <tr>
        <td><img src="/images/snapshot.jpg"></td>
        <td>&nbsp;</td>
        <td height="480px"><img src="/images/find-edges.jpg"></td>
      </tr>
    </table>
  </body>
</html>
